@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
  font-family: 'Roboto', sans-serif;

  width: 100%;
  margin: 0;
  background-color: #1B1C1E;
  color: white;


}

.partners {
  /*   margin-top:em; */
  width: 12.082em;
  height: 8.000em;
  margin-left: 2em;

}

.partner {
  display: flex;
  justify-content: center;
}

.subtitles {
  text-align: center;
  padding-top: 10%;


}

.navbar li {
  list-style-type: none;
  /*font-size: 2em;*/
  padding-right: 1em;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  width: 100%;
  background-color: #1B1C1E;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 3.14159265358979em;
  top: 0;
  left: 0;
  margin: 0 0 2em 0;
  flex-wrap: wrap;
  position: fixed;
  z-index: 2;
  overflow: hidden;
  border-bottom: solid;
  border-width: .0987em;
  border-color: #FFFFFF;
  font-size: 2em;

}

#myTopNav2 {
  display: none;

}

.nav-logo {
  width: 6em;
  height: 4em;
  display: flex;
  align-items: center;
  margin-bottom: -.40em;
}

.programs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  width: 100%;

}

.programnames {
  font-size: 2em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}

.programdescrip {
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.summerpro,
.satmet-up,
.schclubs {
  width: 25em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-width: 0.3em;
  margin: 3em;
}

/*for program.html*/

@media screen and (max-width:835px) {
  .programs {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .programnames {
    font-size: 1.8em;
    display: flex;
    justify-content: center;
  }
  .programdescrip {
    font-size: 1em;
    display: flex;
    flex-wrap: wrap;
  }
  .summerpro,
  .satmet-up,
  .schclubs {
    margin: 0;
    width: auto;
    background-color: #1B1C1E;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

/*for index.html*/

@media screen and (max-width:835px) {}

/*for about.html*/

@media screen and (max-width:835px) {
  .organizers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .partner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }

}

.chicago {
  width: 30%;
  height: 10%;
  bottom: 50%;
}
.microsoft {
  width: 30%;
  height: 10%;
  bottom: 50%;

}

.drummerteamimg {
  width: 12.5em;
  height: 18em;
}

.jonesteamimg {
  width: 12em;
  height: 18em;
}

.teams {
  border: solid .3em #1B1C1E;
  background-color: #1B1C1E;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 22em;
  margin: 0 7em 2em 7em;
}

.name,
.title,
.teams-exp {
  text-align: center;
}

.name {
  font-size: 2em;
}

.title {
  font-size: 1.35em;
}

.teams-exp {
  font-size: 1em;
}

.organizers {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


footer {
  /*background-color: black;*/
  width: 100%;
  min-height: 3.14159265358979em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid black .0987em;
  flex-wrap: wrap;
  padding-bottom: 0px;
  right: 0;
  position: relative;
  font-size: 1.625em;
  z-index: 0;
  flex-direction: column;
  border-color: white;
  padding-top: 2%;

}

.applybtn {
  text-align: center;
  font-size: 1.7em;
  padding: .60em;
  background-color: #74C8C0;
  z-index: 0;
  border-radius: 5.5px;
  height: 20%;
  /*width: 4em;*/
  margin-left: .5em;
  border: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.applybtn:hover {
  background-color: #68B4AD;
}

/*button {*/

/*}*/

.homesudtitles {
  font-family: 'Roboto', sans-serif;
  ;
  font-size: 2em;

}

.homeparagraphs {
  font-family: 'Roboto', sans-serif;
  font-size: 1.75em;
  margin-left: 1em;
}

.icon {
  display: none;


}

.nav button {
  background: none;
  color: white;
  border: none;
  font-size: 1em;
  padding: .625em;
  display: flex;
  justify-content: center;
}

@media screen and (max-width:835px) {

  ul.nav li:not(:last-child) {
    display: none;
  }
  ul.nav {
    flex-direction: column;
  }

  ul.nav li.icon {
    display: block;
    position: absolute;
    top: 0;
    right: .9em;
  }
  ul.nav.responsive li {
    display: block;
  }
}

main {

  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12.675em;
  padding-bottom: 2em;
}

.homeban {
  width: 100%;
  height: 45em;
}

hr {
  border-color: #7A8CFF;
}

.foot {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

#myTopNav2.stickynav {
  display: flex;
  top: 0;
  left: 0;
}

footer a {
  padding-bottom: 1em;
}

dropdown {
  position: relative;
  display: inline-block;
}



.dropdown-content {
  display: none;
  position: absolute;
}

.icons2 {
  list-style-type: none;
  font-size: 2em;
}

.fa-question:hover {
  color: #32CD32;

}

.fa-lightbulb:hover {
  color:#FFF933;
}

.fa-heart:hover {
  color: red;
}

.fa-users:hover {
  color: #42C0FB;
}

@media screen and (max-width:835px) {

  ul.nav li:not(:last-child) {
    display: none;
  }
  ul.nav {
    flex-direction: column;
  }

  ul.nav li.icon {
    display: block;
    position: absolute;
    top: 0;
    right: .9em;
  }
  ul.nav.responsive li {
    display: block;
  }
}

.fa-li {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin: 0;
  background-color: #1B1C1E;
  color: white;
}

ul.fa-ul li {
  font-size: 1.75em;
  font-family: 'Roboto', sans-serif;
}

ul.fa-ul {
  margin-left: 4em;
}
.sign {
  justify-content:center;
}
